<a href="https://colab.research.google.com/github/SamuelJacobsenB/INTED_2025/blob/main/Lista_2-Samuel%20e%20Lorenxo-V25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
age = int(input("Qual sua idade: "))
print("Tem direito ao voto" if age >= 16 else "")

Qual sua idade: 16
Tem direito ao voto

In [5]:
grade1 = float(input("Nota 1: "))
grade2 = float(input("Nota 2: "))
print("Aprovado" if (grade1 + grade2) / 2 >= 7 else "Reprovado")

Nota 1: 5
Nota 2: 8
Reprovado

In [6]:
temperature = int(input("Temperatura: "))

if temperature <= 10:
  print("Frio")
elif temperature > 10 and temperature <= 20:
  print("Agradável")
elif temperature > 20 and temperature <= 30:
  print("Quente")
else:
  print("Muito Quente")

Temperatura: 33
Muito Quente

In [7]:
num = int(input("Número: "))
print("Par" if num % 2 == 0 else "Ímpar")

Número: 334
Par

In [13]:
salary = float(input("Salário: "))
pay_raise = float(input("Aumento (%): "))
print(round(salary * (1 + (pay_raise / 100)), 2))

Salário: 3000
Aumento (%): 10
3300.0

In [16]:
num1 = int(input("Número 1: "))
num2 = int(input("Número 2: "))
num3 = int(input("Número 3: "))

if num1 > num2 and num1 > num3:
  print(num1, "é o maior")
elif num2 > num1 and num2 > num3:
  print(num2, "é o maior")
else:
  print(num3, "é maior")

Número 1: 10
Número 2: 8
Número 3: 7
10  é o maior

In [ ]:
year = int(input("Ano: "))
print("Bissexto" if year % 4 == 0 else "Não bissexto")

In [17]:
age = int(input("Idade: "))
print("Inteira" if age > 12 else "Meia")

Idade: 55
Inteira

In [18]:
products = ["Maçã", "Pera", "Banana"]
id = int(input("Identificador: ")) - 1

if id > 2: print("Id inválido")
else: print(products[id])

Identificador: 2
Pera

In [ ]:
hour = int(input("Hora: "))
if hour < 12:
  print("Bom dia")
elif hour >= 12 and hour < 18:
  print("Boa tarde")
else:
  print("Boa noite")

In [19]:
nums = []
while True:
  num = int(input("Número: "))
  if num == 0: break
  nums.append(num)

sum = 0
for num in nums:
  sum += num

print("Soma:", sum)

Número: 5
Número: 3
Número: 8
Número: 6
Número: 8
Número: 4
Número: 0
34

In [20]:
while True:
  password = input("Senha: ")
  if password == "python123": break

print("Senha correta")

Senha: python123
Senha correta

In [22]:
sum = 0
i = 1
while sum < 100:
  print(i)
  sum += i
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [24]:
ages = []
while True:
  age = int(input("Idade: "))
  if age < 0: break
  ages.append(age)

sum = 0
for age in ages: sum += age

print("Média:", sum / len(ages))

Idade: 10
Idade: 15
Idade: 20
Idade: -5
Média: 15.0

In [26]:
num = int(input("Número: "))
while num > 0:
  print(num)
  num -= 1

Número: 17
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [27]:
for i in range(51):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [28]:
num = int(input("Número: "))
for i in range(11):
  print(i, "x", num, "=", i * num)

Número: 20
0 x 20 = 0
1 x 20 = 20
2 x 20 = 40
3 x 20 = 60
4 x 20 = 80
5 x 20 = 100
6 x 20 = 120
7 x 20 = 140
8 x 20 = 160
9 x 20 = 180
10 x 20 = 200

In [29]:
word = input("Palavra: ")
for char in word: print(char)

Palavra: Futebol
F
u
t
e
b
o
l

In [32]:
ages = []
for i in range(5):
  ages.append(int(input("Idade: ")))

num = 0
for age in ages:
  if age > 18: num += 1

print(num)

Idade: 5
Idade: 5
Idade: 5
Idade: 37
Idade: 5
Idade: 5
1

In [ ]:
ages = []
for i in range(5):
  ages.append(int(input("Idade: ")))

num = 0
for age in ages:
  if age > 18: num += 1

print(num)

In [34]:
nums = []

for i in range(7):
    num = float(input("Número: "))
    nums.append(num)

maior = max(nums)

print("O maior número digitado foi:", maior)

Número: 5
Número: 6
Número: 7
Número: 19
Número: 444
Número: 5
Número: 6
O maior número digitado foi: 444.0

In [ ]:
todos = []
for i in range(4):
    todo = input("Nome da tarefa: ")
    todos.append(todo)

todo = max(todos, key=len)

print(todo)

In [35]:
sum = 0
for num in range(2, 101, 2): sum += num
print(sum)

2550

In [ ]:
positivos = 0
negativos = 0
zeros = 0

for i in range(10):
    numero = int(input(f"Digite o número {i+1}: "))

    if numero > 0:
        positivos += 1
    elif numero < 0:
        negativos += 1
    else:
        zeros += 1

print("Positivos:", positivos)
print("Negativos:", negativos)
print("Zeros:", zeros)

In [ ]:
names = []

for i in range(6):
    name = input("Nome: ")
    names.append(name)

print("Nomes que começam com A ou C:")
for name in names:
    if name.startswith("A") or name.startswith("C"):
        print(name)

In [ ]:
while True:
    val = int(input("Digite um valor (ou 999 para encerrar): "))

    if val == 999:
        print("Encerrando...")
        break

    print("Valor registrado:", val)

In [ ]:
for num in range(1, 21):
    if num % 4 == 0:
        continue
    print(num)

In [36]:
for _ in range(3):
    senha = input("Digite a senha: ")
    if senha == "1234":
        print("Login realizado com sucesso!")
        break
    else:
        print("Senha incorreta.")
else:
    print("Número máximo de tentativas atingido.")

Digite a senha: 1234
Login realizado com sucesso!

In [ ]:
sum = 0

for i in range(10):
    num = int(input("Número: "))
    if num < 0:
        continue
    sum += num

print("A soma dos números positivos é:", sum)

In [ ]:
sum = 0
num = 1

while True:
    sum += num
    num += 1
    if sum > 200:
        break

print("A soma ultrapassou 200. Valor final:", sosumma)

In [ ]:
cont = 0

while True:
    word = input("Digite uma palavra (ou 'fim' para encerrar): ")
    if word.lower() == "fim":
        break
    cont += 1

print("Você digitou", cont, "palavras válidas.")